---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: jellyfin
  namespace:  media
  labels:
    app: jellyfin
spec:
  selector:
    matchLabels:
      app: jellyfin
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      restartPolicy: Always
      runtimeClassName: nvidia
      tolerations:
      - key: nvidia.com/gpu
        operator: Exists
        effect: NoSchedule
      containers:
        - name: jellyfin
          image: lscr.io/linuxserver/jellyfin:10.11.2@sha256:d351d241011e26be29ac06127644c194b5e0d204edb852727afa4df0ee791fb5
          resources:
            limits:
              cpu: 12
              memory: 6Gi
              nvidia.com/gpu: 1
            requests:
              cpu: 1
              memory: 512Mi
          ports:
            - containerPort: 8096
          volumeMounts:
          - name: jf-movies
            mountPath:  /Movies
          - name: jf-shows
            mountPath:  /TV
          - name: jf-music
            mountPath:  /Music
          - name: jf-config
            mountPath:  /config
          env:
          - name: jf-puid
            valueFrom:
              configMapKeyRef:
                name: jf-env
                key:  PUID
          - name: jf-pgid
            valueFrom:
              configMapKeyRef:
                name: jf-env
                key:  PGID
          - name: jf-tz
            valueFrom:
              configMapKeyRef:
                name: jf-env
                key:  TZ
      volumes:
      - name: jf-movies
        hostPath:
          path: /mnt/mobius/Video/Movies
      - name: jf-shows
        hostPath:
          path: /mnt/mobius/Video/TV-shows
      - name: jf-music
        hostPath:
          path: /mnt/mobius/Music/library
      - name: jf-config
        persistentVolumeClaim:
          claimName:  jf-config-data
          