---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi
  namespace:  applications
  labels:
    app: unifi
spec:
  selector:
    matchLabels:
      app: unifi
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: unifi
    spec:
      restartPolicy: Always
      containers:
        - name: unifi-db
          image:  docker.io/mongo:8.0.15@sha256:f4d54619262ae3bc6a0a8efbebcef970b87b8ad70697479a75ce308a6f400158
          volumeMounts:
          - name: unifi-db-db
            mountPath:  /data/db
          - name: unifi-db-mongo-sh
            mountPath:  /docker-entrypoint-initdb.d/init-mongo.sh
            subPath:  init-mongo.sh
          resources:
            limits:
              cpu: 4
              memory: 2Gi
            requests:
              cpu: 500m
              memory: 512Mi
        - name: unifi-network-application
          image: lscr.io/linuxserver/unifi-network-application:9.5.21@sha256:f45155f97d755373f5ad06abafa59fd2a5c2df690ae5d9e6d22e69548788c11b
          resources:
            limits:
              cpu: 4
              memory: 2Gi
            requests:
              cpu: 100m
              memory: 128Mi
          ports:
            - containerPort: 8443
            - containerPort: 3478
            - containerPort: 10001
            - containerPort: 8080
            - containerPort: 1900
            - containerPort: 8843
            - containerPort: 8880
            - containerPort: 6789
            - containerPort: 5514
          volumeMounts:
          - name: unifi-app-config
            mountPath: /config
          env:
          - name: PUID
            value:  "1000"
          - name: PGID
            value:  "1000"
          - name: TZ
            value:  America/New_York
          - name: MONGO_USER
            value:  unifi
          - name: MONGO_PASS
            valueFrom:
              secretKeyRef:
                name: unifi-secret
                key:  MONGO_PASS
          - name: MONGO_HOST
            value:  localhost
          - name: MONGO_PORT
            value:  "27017"
          - name: MONGO_DBNAME
            value:  unifi
          - name: MONGO_AUTHSOURCE
            value:  admin
          - name: MONGO_INITDB_ROOT_USERNAME
            value:  root
          - name: MONGO_INITDB_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: unifi-secret
                key:  MONGO_INITDB_ROOT_PASSWORD
      volumes:
        - name: unifi-db-mongo-sh
          configMap:          
            name: unifi-mongo-init-configmap
            defaultMode:  0777
        - name: unifi-db-db
          persistentVolumeClaim:
            claimName: unifi-mongo-db
        - name: unifi-app-config
          persistentVolumeClaim:
            claimName: unifi-config