---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: qflood
  namespace:  media
  labels:
    app: qflood
spec:
  selector:
    matchLabels:
      app: qflood
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: qflood
    spec:
      restartPolicy: Always
      hostname: qflood
      subdomain: internal
      initContainers:
      - name: init-qflood-wg0-config
        image: busybox@sha256:2383baad1860bbe9d8a7a843775048fd07d8afe292b94bd876df64a69aae7cb1
        command: ["sh", "-c", "mkdir -p /config/wireguard && cp /wireguard/wg0.conf /config/wireguard/wg0.conf"]
        volumeMounts:
        - name: qflood-config
          mountPath:  /config
        - name: qflood-wg0-config-file
          mountPath:  /wireguard
      - name: init-qflood-qbt-config
        image: busybox@sha256:2383baad1860bbe9d8a7a843775048fd07d8afe292b94bd876df64a69aae7cb1
        command: ["sh", "-c", "mkdir -p /config/config && cp /qbt/qBittorrent.conf /config/config/qBittorrent.conf"]
        volumeMounts:
        - name: qflood-config
          mountPath:  /config
        - name: qflood-qbt-config
          mountPath:  /qbt
      containers:
        - name: qflood
          # using "latest" because the versions are something like "release-1f62614"
          image: ghcr.io/engels74/qflood:latest@sha256:500f8e7f89dfea7249e86c6fe1d9ee30fca4ac7790261dcf459bf62123ae3250
          resources:
            limits:
              cpu: 4
              memory: 4Gi
            requests:
              cpu: 100m
              memory: 50Mi
          ports:
            - containerPort: 3000
            - containerPort: 8080
          env:
          - name: PUID
            value:  "1000"
          - name: PGID
            value:  "1000"
          - name: UMASK
            value:  "002"
          - name: TZ
            value:  "America/New_York"
          - name: FLOOD_AUTH
            value:  "false"
          - name: VPN_ENABLED
            value:  "true"
          - name: VPN_PROVIDER
            value:  "pia"
          - name: VPN_CONF
            value:  "wg0"
          - name: VPN_LAN_NETWORK
            value:  "192.168.0.0/16"
          - name: VPN_PIA_USER
            valueFrom:
              secretKeyRef:
                name: qflood-pia-vpn-creds
                key: username
          - name: VPN_PIA_PASS
            valueFrom:
              secretKeyRef:
                name: qflood-pia-vpn-creds
                key: password
          - name: VPN_PIA_PREFERRED_REGION
            value: "nl_amsterdam"
          securityContext:
            capabilities: # Needed for VPN
              add:
                - NET_ADMIN
          volumeMounts:
          - name: qflood-config
            mountPath:  /config
          - name: qflood-data
            mountPath:  /data
      volumes:
        - name: qflood-config
          persistentVolumeClaim:
            claimName:  qflood-config-pvc
        - name: qflood-data
          persistentVolumeClaim:
            claimName:  qflood-nfs-data-pvc
        - name: qflood-wg0-config-file
          secret:
            secretName: qflood-pia-wg0-conf
        - name: qflood-qbt-config
          configMap:
            name: qflood-qbt-configmap
            # defaultMode:  0777