---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaresolverr
  namespace:  media
  labels:
    app: flaresolverr
spec:
  selector:
    matchLabels:
      app: flaresolverr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: flaresolverr
    spec:
      restartPolicy: Always
      containers:
        - name: flaresolverr
          image: ghcr.io/flaresolverr/flaresolverr:v3.4.4@sha256:06c76759d062c185d8ac0b48f302258645b8d99db86109a3d6dce3209d93de51
          resources:
            limits:
              cpu: 4
              memory: 2Gi
            requests:
              cpu: 100m
              memory: 50Mi
          ports:
            - containerPort: 8191
          env:
            - name: LOG_LEVEL
              value:  info