apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: prometheus
  repo: https://prometheus-community.github.io/helm-charts
  releaseName: prometheus
  namespace: monitoring
  version: 27.50.1
  valuesFile: values.yaml

resources:
  - namespace.yml
  