---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace:  media
  labels:
    app: sonarr
spec:
  selector:
    matchLabels:
      app: sonarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      restartPolicy: Always
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:4.0.16@sha256:2fc9c36769a3f50ab529e7ccc37687d118ab42199b01588573f03b3393cc3223
          resources:
            limits:
              cpu: 4
              memory: 2Gi
            requests:
              cpu: 100m
              memory: 50Mi
          ports:
            - containerPort: 8989
          volumeMounts:
          - name: sonarr-shows-nfs
            mountPath:  /tv
          - name: sonarr-downloads-nfs
            mountPath:  /downloads
          - name: sonarr-config
            mountPath:  /config
          env:
          - name: PUID
            value:  "1000"
          - name: PGID
            value:  "1000"
          - name: TZ
            value:  America/New_York
      volumes:
        - name: sonarr-shows-nfs
          hostPath:
            path: /mnt/mobius/Video/TV-shows
            type: Directory
        - name: sonarr-downloads-nfs
          hostPath:
            path: /mnt/mobius/temp/qflood/downloads
            type: Directory
        - name: sonarr-config
          persistentVolumeClaim:
            claimName:  sonarr-config-pvc