---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: syncthing
  namespace:  applications
  labels:
    app: syncthing
spec:
  selector:
    matchLabels:
      app: syncthing
  strategy:
    type: RollingUpdate
  replicas: 1
  template:
    metadata:
      labels:
        app: syncthing
    spec:
      topologySpreadConstraints:
        - maxSkew:  1
          topologyKey:  kubernetes.io/hostname
          whenUnsatisfiable:  ScheduleAnyway
          labelSelector:
            matchLabels:
              app: homer
      restartPolicy: Always
      containers:
        - name: syncthing
          image: lscr.io/linuxserver/syncthing:2.0.11@sha256:c426c56a324ff5c50043401ba83ab3ca7e9d0042767269e4526c37048c4c5a26
          resources:
            limits:
              cpu: 4
              memory: 2Gi
            requests:
              cpu: 100m
              memory: 50Mi
          env:
          - name: PUID
            value:  "1000"
          - name: PGID
            value:  "1000"
          - name: TZ
            value:  America/New_York          
          ports:
            - containerPort: 8080
            - containerPort: 22000
            - containerPort: 21027
          volumeMounts:
          - name: syncthing-docs-nfs
            mountPath: /Documents
          - name: syncthing-pics-nfs
            mountPath: /Pictures
          - name: syncthing-music-nfs
            mountPath: /Music
          - name: syncthing-config
            mountPath:  /config
      volumes:
        - name: syncthing-docs-nfs
          hostPath:
            path: /mnt/mobius/Documents
            type: Directory
        - name: syncthing-pics-nfs
          hostPath:
            path: /mnt/mobius/Pictures
            type: Directory
        - name: syncthing-music-nfs
          hostPath:
            path: /mnt/mobius/Music
            type: Directory
        - name: syncthing-config
          persistentVolumeClaim:
            claimName:  sync-config-pvc