---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: radarr
  namespace:  media
  labels:
    app: radarr
spec:
  selector:
    matchLabels:
      app: radarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: radarr
    spec:
      restartPolicy: Always
      containers:
        - name: radarr
          image: lscr.io/linuxserver/radarr:6.0.4@sha256:ba2693dd704b84eb0b404d40b3902bd3e62a1768dc5ee0d89b1f1d7cd51a66eb
          resources:
            limits:
              cpu: 2
              memory: 2Gi
            requests:
              cpu: 100m
              memory: 50Mi
          ports:
            - containerPort: 7878
          volumeMounts:
          - name: radarr-movies-nfs
            mountPath:  /movies
          - name: radarr-downloads-nfs
            mountPath:  /downloads
          - name: radarr-config
            mountPath:  /config
          env:
          - name: PUID
            value:  "1000"
          - name: PGID
            value:  "1000"
          - name: TZ
            value:  America/New_York
      volumes:
        - name: radarr-movies-nfs
          hostPath:
            path: /mnt/mobius/Video/Movies
            type: Directory
        - name: radarr-downloads-nfs
          hostPath:
            path: /mnt/mobius/temp/qflood/downloads
            type: Directory
        - name: radarr-config
          persistentVolumeClaim:
            claimName:  radarr-config-pvc